@charset "UTF-8";

@use 'mixins';
@use 'media';

@include mixins.keyframes(slideInModal) {
  0% {
    @include mixins.transform(translateY(100%));
  }

  100% {
    @include mixins.transform(translateY(0%));
  }
}

@include mixins.keyframes(slideOutModal) {
  0% {
    @include mixins.transform(translateY(0%));
  }

  100% {
    @include mixins.transform(translateY(100%));
  }
}

@include mixins.keyframes(pulse) {
  0% {
    box-shadow: 0 0 0 1px var(--game-turn-pulse-color);
    clip-path: ellipse(100% 55%);
  }

  70% {
    box-shadow: 0 0 0 1em var(--game-turn-pulse-color);
    clip-path: ellipse(100% 85%);
  }

  100% {
    box-shadow: 0 0 0 1px var(--game-turn-pulse-color);
    clip-path: ellipse(100% 55%);
  }
}

@mixin pulseOnTurn {
  @include mixins.animation(pulse, 2s, linear, infinite);
  box-shadow: 0 0 0 var(--game-turn-pulse-color);
}

@mixin modalOverlay {
  .overlay {
    @include mixins.filter(opacity(0.5));
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    max-height: 100vh;
    max-width: 100vw;
    background-color: black;
    overflow: hidden;
    z-index: CALC(var(--modal-global-index) - 1);

    &.active {
      @include mixins.animation(all, 2s, linear, infinite);
      display: block;
    }
  }
}

@mixin modal {
  .modal {
    z-index: var(--modal-global-index);
    display: none;
    position: absolute;
    bottom: 0;
    max-width: 60%;
    background-color: white;
    border-radius: 1rem;

    &.modal--padded {
      padding: 1vh 2vw;
    }

    &.active {
      @include mixins.flexCol(space-between);
    }

    // Full width until 768px
    @include media.query("portrait", "<phone") {
      max-height: 80%;
      max-width: 100%;
    }

    .modal__content {
      @include mixins.flexCol();
      @include mixins.flex-grow(1);
    }

    &.modal--opening {
      @include mixins.animation(
        slideInModal,
        var(--animation-global-duration),
        var(--animation-slide-timing),
        forwards
      );
    }

    &.modal--closing {
      @include mixins.animation(
        slideOutModal,
        var(--animation-global-duration),
        var(--r-animation-slide-timing),
        forwards
      );
    }
  }
}

@mixin modalPlayerFooter {
  background-color: var(--secondary-color);
  color: white;
  height: 100%;
  width: 100%;

  @include media.query("portrait") {
    @include mixins.flexRow(center);
    @include mixins.flex(1, 0, 10%);
  }

  @include media.query("portrait", "<phone") {
    @include mixins.flexRow(center);
    @include mixins.flex(1, 0, 5%);
  }

  @include media.query("landscape") {
    @include mixins.flexRow(center);
    @include mixins.flex(1, 0, 12%);
  }

  @include media.query("landscape-max-h600") {
    display: none;
  }

  .game_status {
    padding: 1vh 1vw;

    &.game_status--round {
      @include mixins.flexCol();
      @include mixins.flex(1);
      @include mixins.align-self(stretch);
      text-align: left;

      @include media.query("<tablet") {
        display: none;
      }

      .status__round {
        @include mixins.flexCol();
        @include mixins.flex-grow(1);

        .title--game_status {
          font-weight: 600;
          text-transform: uppercase;

          .count {
            font-weight: 400;
          }
        }
      }
    }

    &.game_status--score {
      @include mixins.flexRow();
      @include mixins.flex(1);
      @include mixins.align-self(stretch);

      .players-score__title--score {
        font-weight: 600;
        text-transform: uppercase;
        padding: 0 2vw;
      }

      .players-score__lists {
        @include mixins.flexRow();
        width: 100%;

        .score__list {
          text-align: left;

          .player--name {
            font-weight: 600;

            > .player--score {
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}

@mixin cards {
  .card {
    @include mixins.flex(0, 0);

    @include media.query("<=s-phone") {
      margin: 2vw 0;
    }

    @include media.query(">s-phone") {
      margin: 1vw 0;
    }

    .form__radio {
      display: none !important;

      &:checked + .form__label {
        .img--card {
          opacity: 1;
        }
      }
    }

    .form__label {
      cursor: pointer;

      &.no-opacity {
        .img--card {
          opacity: 1;
        }
      }

      .img--card {
        opacity: 0.5;
        @include media.query("landscape") {
          @include media.query(">=1920px") {
            max-width: 5.5em;
          }

          @include media.query(">tablet", "<1920px") {
            max-width: 4.5em;
          }

          @include media.query("<=tablet") {
            max-width: 3em;
          }

          // Hidden footer into modal
          @include media.query("landscape-max-h600") {
            max-width: 4em;
          }

          @include media.query("landscape-max-h414") {
            max-width: 3.2em;
          }

          @include media.query("landscape-max-h360") {
            max-width: 3em;
          }

          @include media.query("landscape-max-h320") {
            max-width: 2.8em;
          }
        }

        @include media.query("portrait") {
          // modal full height
          @include media.query(">l-desktop") {
            max-width: 5.5em;
          }

          @include media.query(">desktop", "<=l-desktop") {
            max-width: 5em;
          }

          @include media.query(">tablet", "<=desktop") {
            max-width: 4.5em;
          }

          @include media.query(">phone", "<=tablet") {
            max-width: 4em;
          }

          @include media.query(">m-phone", "<=phone") {
            max-width: 3.6em;
          }

          @include media.query(">s-phone", "<=m-phone") {
            max-width: 3.2em;
          }

          @include media.query("<=s-phone") {
            max-width: 3em;
          }
        }
      }
    }
  }
}

@mixin modalPlayer {
  @include modal;

  .modal__player--cards {
    @include mixins.flexCol();
    // @include mixins.flex(2, 0, 70%);
    position: relative;
    padding: 1vh 1vw;
    width: 100%;

    .form {
      @include mixins.flexCol();
      width: 100%;

      .container__player--cards {
        @include cards;
        @include mixins.flexRow(center);
        @include mixins.flex-wrap(wrap);
        width: 100%;
      }

      .modal__player--cards--form {
        margin-bottom: 1vh;
        @include mixins.flexRow(center);
        @include button;
      }
    }
  }

  // Modal's footer
  .modal__player--game_status {
    @include modalPlayerFooter;
  }
}

@mixin modalCardsExchange {
  @include modal;

  #modalCardExchange {
    z-index: var(--modal-global-index);
    display: none;
    position: absolute;
    background-color: white;
    bottom: 0;
    width: 100%;
    height: auto;
    max-width: 100vw;
    max-height: 100vh;
    border-radius: unset;

    &.active {
      @include mixins.flexCol(space-evenly);
    }

    @include media.query("portrait", ">=tablet") {
      height: auto;
    }

    @include media.query("landscape", ">=desktop") {
      max-width: 60%;
    }

    .modal__body {
      @include mixins.flexCol(space-evenly);
      min-height: 60%;

      .modal__player--cards {
        @include mixins.flexCol(space-evenly);
        height: 100%;
        width: 100%;
        @include cards();

        .form__cards {
          @include mixins.flexCol(space-evenly);
          height: 100%;
          width: 100%;

          .container__cards {
            @include mixins.flexRow(center);
            @include mixins.flex-wrap(wrap);
            width: 100%;
          }

          .modal__player--cards--form {
            margin-bottom: 1vh;
            @include mixins.flexRow(center);
            @include button;
          }
        }
      }

      @include button();
    }
  }
}

@mixin formInputText {
  .form__input {
    @include mixins.border-radius(var(--border-radius));
    text-align: center;
    color: var(--primary-color);
    border: 3px solid var(--secondary-color);
    padding: 0.5rem 0.2rem;
    max-width: 100%;

    &:focus {
      outline-color: transparent;
      outline-style: none;
    }

    @include mixins.placeholder {
      color: var(--primary-color);
    }
  }
}

@mixin formButton {
  .button {
    @include mixins.appearance(none);
    @include mixins.border-radius(var(--border-radius));
    border: unset;
    cursor: pointer;
    text-align: center;
    color: var(--button-text-color);
    background-color: var(--secondary-color);
    text-transform: uppercase;
    font-weight: 800;
    padding: 0.6rem 1rem;

    &:hover {
      color: var(--secondary-color);
      background-color: var(--button-text-color);
      box-shadow: 0 0 0 2px var(--secondary-color);
    }
  }
}

@mixin button {
  .button {
    @include mixins.border-radius(var(--border-radius));
    cursor: pointer;
    text-align: center;
    color: var(--button-text-color);
    background-color: var(--secondary-color);
    border: 3px solid var(--secondary-color);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    padding: 0.6em 1em;
    font-size: 1rem;
    transition: all 0.6s ease 0s;

    &:focus,
    &:focus-visible {
      outline-width: 0;
    }

    &:hover {
      color: var(--secondary-color);
      background-color: var(--button-text-color);
      transition: all 0.6s ease 0s;
    }

    &.disabled {
      cursor: not-allowed;
      @include mixins.filter(grayscale(100%));
    }

    &.disabled:hover {
      color: var(--button-text-color);
      background-color: var(--secondary-color);
      box-shadow: unset;
    }

    @include media.query("landscape-max-h320") {
      padding: 0.4em 0.8em;
      font-size: 16px;
    }
  }
}
