@charset "UTF-8";

@use 'media';

@mixin default-style {
  font-size: 100%;
  font-family: var(--base-font-family);
  font-style: var(--base-font-style);
  color: var(--primary-color);
  text-align: center;

  a {
    color: inherit;
  }

  @include media.query("portrait") {
    .text--sm {
      //  scale factor, min size, max size, fallback size
      @include media.fluid-font(3vw, 12px, 16px, 14px);
    }

    .text--md {
      @include media.fluid-font(3vw, 16px, 26px, 18px);
    }

    .text--lg {
      @include media.fluid-font(3vw, 28px, 36px, 30px);
    }

    .text--xl {
      @include media.fluid-font(3vw, 36px, 42px, 38px);
    }

    .text--xxl {
      @include media.fluid-font(3vw, 44px, 50px, 46px);
    }

    .text--xxxl {
      @include media.fluid-font(3vw, 52px, 64px, 58px);
    }
  }

  @include media.query("landscape") {
    .text--sm {
      //  scale factor, min size, max size, fallback size
      @include media.fluid-font(3vh, 12px, 16px, 14px);
    }

    .text--md {
      @include media.fluid-font(3vh, 16px, 26px, 18px);
    }

    .text--lg {
      @include media.fluid-font(3vh, 28px, 34px, 30px);
    }

    .text--xl {
      @include media.fluid-font(3vh, 36px, 42px, 38px);
    }

    .text--xxl {
      @include media.fluid-font(3vh, 44px, 50px, 46px);
    }

    .text--xxxl {
      @include media.fluid-font(3vh, 52px, 64px, 58px);
    }
  }

  .text--title {
    color: var(--secondary-color);
    font-weight: 800;
  }

  .text--italic {
    font-style: italic;
  }

  .text--700 {
    font-weight: 700;
  }

  .text--error {
    color: var(--error-color);
  }
}
