@charset "UTF-8";

:root {
  //=== typography
  --base-font-size: 16px; // browser default 16px
  --base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --base-font-style: normal;

  //=== Colors
  --primary-color: rgba(130, 130, 130, 1);
  --secondary-color: rgba(72, 204, 99, 1);
  --error-color: rgb(195, 37, 37);
  --button-text-color: rgb(255, 255, 255);
  --game-turn-pulse-color: rgba(255, 215, 0, 0.7);

  --border-radius: 0.8em;

  //=== Section's Paddings
  --section-global-margin: 3vh 0;

  /* --section-global-margin-xs: 0.5rem;
  --section-global-margin-s: 1rem;
  --section-global-margin-m: 1.5rem 1rem;
  --section-global-margin: 1.5rem 2rem;
  --section-global-margin-lg: 1.75rem 2rem;
  --section-global-margin-xl: 1.75rem 4rem; */

  --modal-global-index: 10;
  --modal-max-width: 100%; // Manipulated by JS

  //=== Animation
  --animation-global-duration: 1.2s;
  --cubic-bezier-x1: 0.22;
  --cubic-bezier-y1: 0.61;
  --cubic-bezier-x2: 0.36;
  --cubic-bezier-y2: 1;
  --r-cubic-bezier-x1: CALC(1 - var(--cubic-bezier-x2));
  --r-cubic-bezier-y1: CALC(1 - var(--cubic-bezier-y2));
  --r-cubic-bezier-x2: CALC(1 - var(--cubic-bezier-x1));
  --r-cubic-bezier-y2: CALC(1 - var(--cubic-bezier-y1));

  --animation-slide-timing: cubic-bezier(
    var(--cubic-bezier-x1),
    var(--cubic-bezier-y1),
    var(--cubic-bezier-x2),
    var(--cubic-bezier-y2)
  );

  --r-animation-slide-timing: cubic-bezier(
    var(--r-cubic-bezier-x1),
    var(--r-cubic-bezier-y1),
    var(--r-cubic-bezier-x2),
    var(--r-cubic-bezier-y2)
  );
}
