@use "partials/media";
@use 'partials/typography';
@use 'partials/components';
@use 'partials/mixins';

@import "partials/normalize";
@import "partials/reset";
@import "partials/variables";

$debug-mode: false;

* {
  @include mixins.box-sizing(border-box);
}

html {
  height: 100%;
  min-height: 100%;

  @if $debug-mode {
    overflow: auto;
  }

  @if not $debug-mode {
    overflow: hidden;
  }

  body {
    @include typography.default-style;
    @include mixins.flexCol(center);
    z-index: 1;
    height: 100%;
    min-height: 100%;

    @if $debug-mode {
      @include media.query("<=s-phone") {
        background: rgba(165, 164, 164, 0.2);
      }

      @include media.query(">s-phone", "<=phone") {
        background: rgba(255, 140, 140, 0.2);
      }

      @include media.query(">phone", "<=tablet") {
        background: rgba(255, 234, 140, 0.2);
      }

      @include media.query(">=tablet", "<desktop") {
        background: rgba(150, 255, 140, 0.2);
      }

      @include media.query(">=desktop", "<l-desktop") {
        background: rgba(140, 255, 249, 0.2);
      }

      @include media.query(">=l-desktop") {
        background: rgba(148, 140, 255, 0.2);
      }
    }

    .wrapper {
      width: 100%;
      height: 100%;
      max-width: 120rem; // 1920px for default font-size = 16px
      max-height: 67.5rem; // 1080px for default font-size = 16px
      @include mixins.flexCol();
      @include mixins.flex(1);

      .img {
        width: auto;
        height: auto;
        max-width: 3rem; // fallback

        &.img--chef_hat {
          max-width: 70%;
        }
      }

      > .form {
        @include mixins.flexCol();
        height: 100vh;
      }

      .section {
        @include mixins.flexCol();
        margin: 1vh 0;
        padding: 0 1vw;
        width: 100%;

        @include media.query("portrait", ">=m-phone") {
          margin: 3vh 0;
          padding: 0 2vw;
        }

        .container {
          @include mixins.flexCol();

          &.container--form {
            @include mixins.flexCol();

            .form {
              @include mixins.flexCol();
              // @include mixins.flex-grow(1);
              @include components.formButton;
              @include components.formInputText;
            }
          }
        }
      }
    }
  }
}
