@use 'partials/components';
@use 'partials/mixins';
@use 'partials/media';

html {
  body {
    .wrapper {
      .section--header {
        .container--img {
          @include media.query("landscape-max-h414") {
            display: none;
          }
        }
        .container--title {
          margin-top: 0;

          @include media.query(">tablet") {
            margin-top: 2vh;
          }
        }
      }

      .section--content {
        width: 100%;
        .container--flags {
          @include mixins.flexRow();
          flex-wrap: wrap;
          width: 100%;
          max-width: 70%;

          .container--flag {
            margin: 3vh 4vw;

            .link--flag {
              .img--languages {
                min-width: 3rem;
              }
            }
          }
        }
      }
    }
  }
}
