@use 'partials/components';
@use 'partials/mixins';
@use 'partials/media';

html {
  body {
    @include components.modalOverlay;
    position: relative;

    .wrapper {
      .section--header {
        .container--title {
          @include mixins.flexRow(center);

          @include media.query("landscape-max-h414") {
            display: none;
          }
        }
      }
      .section--rules {
        .container--rule {
          .container--rule--title {
            margin-bottom: 1vh;
            .text--md {
              font-weight: 600;
            }
          }
          .container--imgs {
            @include mixins.flexRow(center);
            margin-bottom: 1vh;
            cursor: pointer;

            @include media.query("portrait", "<=phone") {
              display: none;
            }

            @include media.query("landscape-max-h414") {
              display: none;
            }

            .rule--img {
              max-width: 10%;
              margin: 0 1vw;
            }
          }
        }
      }
    }

    .modal--lightbox {
      z-index: 10;
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // max-height: 90vh;
      // margin: 1vh 1vw;
      line-height: 1;

      &.active {
        @include mixins.flexCol();
      }

      .container--lightbox {
        @include mixins.flexRow();
        width: 100%;
        height: 100%;

        .container__lightbox--img {
          display: none;

          &.active {
            @include mixins.flexCol(center);
            height: 100%;
            width: 100%;
            max-width: 85vw;

            @include media.query("landscape-max-h414") {
              max-width: 70vw;
            }
            @include media.query("landscape", "<=tablet") {
            }
          }

          .number--img {
            color: whitesmoke;
          }
        }

        .container__lightbox--control {
          @include mixins.flexRow();
          width: 100%;
          max-width: 40%;
          margin-top: 1%;

          .lightbox--control {
            cursor: pointer;
            color: whitesmoke;
          }
        }

        .modal__close--button {
          position: absolute;
          top: 1rem;
          right: 1rem;

          .modal--lightbox--close {
            cursor: pointer;
            text-decoration: none;
            color: whitesmoke;
            line-height: 1;
          }
        }
      }
    }
  }
}
