{% extends 'base.html' %}

{% load i18n %}

{% block page_title %}
Chef's Hat Card Game
{% endblock %}

{% block page_css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/disclaimer.css' %}" />
{% endblock %}

{% block body %}

<div class="wrapper">
    <section class="section section--disclaimers">
        <div class="container__disclaimer--scrollable">
            <div class="container container__disclaimer">
                <div class="container container__disclaimer--title">
                    <p class="text text--md text--title">{% trans 'disclaimer_ExperimentInformationTitle' %}</p>
                </div>
                <div class="container container__disclaimer--content">
                    <p class="text text--md">{% trans 'disclaimer_ExperimentInformationText' %}</p>
                </div>
            </div>
            <div class="container container__disclaimer">
                <div class="container container__disclaimer--title">
                    <p class="text text--md text--title">{% trans 'disclaimer_DataCollectionTitle' %}</p>
                </div>
                <div class="container container__disclaimer--content">
                    <p class="text text--md">{% trans 'disclaimer_DataCollectionText1' %}</p>
                    <ol>
                        <li class="text text--md">{% trans 'disclaimer_DataCollectionOption1' %}</li>
                        <li class="text text--md">{% trans 'disclaimer_DataCollectionOption2' %}</li>
                        <li class="text text--md">{% trans 'disclaimer_DataCollectionOption3' %}</li>
                    </ol>
                    <p class="text text--md">{% trans 'disclaimer_DataCollectionText2' %} </p>
                </div>
            </div>
            <div class="container container__disclaimer">
                <div class="container container__disclaimer--title">
                    <p class="text text--md text--title">{% trans 'disclaimer_ContactTitle' %}</p>
                </div>
                <div class="container container__disclaimer--content">
                    <p class="text text--md">{% trans 'disclaimer_ContactText1' %}</p>
                    <p class="text text--md">{% trans 'disclaimer_ContactText2' %}</p>
                    <ul>
                        <li class="text text--md"><a href="https://discord.gg/PwnfSm7B" target="_blank">Discord</a></li>
                        <li class="text text--md">E-mail: <a href="mailto:pablo.alvesdebarros@iit.it">pablo.alvesdebarros@iit.it</a></li>
                    </ul>
                </div>
            </div>
            <div class="container container__disclaimer">
                <div class="container container__disclaimer--title">
                    <p class="text text--md text--title">{% trans 'disclaimer_PartConfirmationTitle' %}</p>
                </div>
                <div class="container container__disclaimer--content">
                    <p class="text text--md">{% trans 'disclaimer_PartConfirmationText' %}</p>
                    <ol>
                        <li class="text text--md">{% trans 'disclaimer_PartConfirmationOption1' %}</li>
                        <li class="text text--md">{% trans 'disclaimer_PartConfirmationOption2' %}</li>
                        <li class="text text--md">{% trans 'disclaimer_PartConfirmationOption3' %}</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="section section--form">
        <div class="container container--form">
            <form id="formIndex" class="form form--index" action="{% url 'SingleGame:startExperiment'%}" method="post">
                {% csrf_token %}
                <button type="submit" class="button form__button text--md">{% trans 'rules_Continue' %}</button>
            </form>
        </div>
    </section>
</div>
{% endblock %}