{% extends 'base.html' %}

{% load i18n %}
{% block page_title %}
Chef's Hat Card Game
{% endblock %}

{% block page_css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/rules.css' %}" />
{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/ruleBook.css' %}" /> {% endcomment %}
{% endblock %}

{% block body_class %}{% endblock %}
{% block body %}
<div id="overlay" class="overlay overlay--rules"></div>

<div class="wrapper">
    <section class="section section--header">
        <div class="container container--title">
            <p class="text text--xxl text--title"> {% trans 'rules_welcome' %} {{ nickname }}!</p>
        </div>
    </section>
    <section class="section section--rules">
        <div class="container container--rule">
            <div class="container container--rule--title">
                <p class="text text--md">{% trans 'rules_Rulebook' %}<a href="#" class="img__link" {% comment %} href="{% url 'SingleGame:ruleBook' %}" target="_blank" {% endcomment %}>{% trans 'rules_clickHere' %}</a></p>
            </div>
            <div id="imagesContainer" class="container container--imgs">
                <img class="img rule--img img__link" data-target="1" src="../../static/images/{{page1}}" />
                <img class="img rule--img img__link" data-target="2" src="../../static/images/{{page2}}" />
            </div>
            <div class="container container--rule--text">
                <p class="text text--md">{% trans 'rules_discordMessage' %} <a href="https://discord.gg/PwnfSm7B" target="_blank"> {% trans 'rules_clickHere' %}</a></p>
                <p class="text text--md">{% trans 'rules_emailMessage' %} <a href="mailto:pablo.alvesdebarros@iit.it">pablo.alvesdebarros@iit.it</a></p>
            </div>
        </div>
    </section>
    <section class="section section--rules">
        <div class="container container--rule">
            <div class="container container--rule--title">
                <p class="text text--md">{% trans 'rules_opponentsTitle' %}</p>
            </div>
            <div class="container container--rule--text">
                <p class="text text--md">{% trans 'rules_opponentsExplanation' %}</p>
            </div>
            <div class="container container--rule--text--title">
                {% comment %}Translators: You will first play a trial game to get to know better the rules. This game will not count towards your final score. %} {% endcomment %}
                <p class="text text--md">{% trans 'rules_FirstGameExplanation' %}</p>
            </div>
        </div>
    </section>
    <section class="section section--form">
        <div class="container container--form">
            <form class="form form--rule" action="{% url 'SingleGame:startNewExperiment'%}" method="post">
                {% csrf_token %}
                <button type="submit" class="button form__button text--md">{% trans 'rules_Continue' %}</button>
            </form>
        </div>
    </section>
</div>

<div id="lightbox" class="modal modal--lightbox">
    <div class="container container--lightbox">
        <div class="container__lightbox--img">
            <img class="img lightbox--img" data-img="1" src="../../static/images/{{page1}}" >
            <div class="container__lightbox--control">
                <a class="lightbox--control prev text--lg">&#10094;</a>
                <p class="number--img text--lg">1 / 2</p>
                <a class="lightbox--control next text--lg">&#10095;</a>
            </div>
        </div>
        <div class="container__lightbox--img">
            <img class="img lightbox--img" data-img="2" src="../../static/images/{{page2}}">
            <div class="container__lightbox--control">
                <a class="lightbox--control prev text--lg">&#10094;</a>
                <p class="number--img text--lg">2 / 2</p>
                <a class="lightbox--control next text--lg">&#10095;</a>
            </div>
        </div>
        <div class="modal__close--button">
            <a class="button--close modal--lightbox--close text--lg">&times;</a>
        </div>
    </div>
</div>
{% endblock %}

{% block page_js %}
    {% load static %}
    <script src="{% static 'js/rule.js' %}"></script>
{% endblock %}