{% extends 'base.html' %}

{% load i18n %}

{% block page_title %}
Chef's Hat Card Game
{% endblock %}

{% block page_css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/startExperiment.css' %}" />
{% endblock %}

{% block body %}
<div class="wrapper">
    <section class="section section--header">
        <div class="container container--img">
            <img class="img img--chef_hat" src="{% static 'images/chefHat.png' %}" alt="Chef's hat" />
        </div>
        <div class="container container--title">
            <p class="text text--xxxl text--title">Chef's hat</p>
        </div>
    </section>
    <section class="section section--content">
        <div class="container container--intro">
            <p class="text text--md">{% trans 'index_Welcome' %}</p>
        </div>
    </section>
    <section class="section section--form">
        <div class="container container--form">
            <form method="post" class="form form--index" action="{% url 'SingleGame:selectAdversaries'%}">
                {% csrf_token %}
                <input class="form__input text--md" name="userName" type="text" placeholder="{% trans 'index_textNickname' %}" />
                <button type="submit" class="button form__button text--md">{% trans 'index_startgame' %}</button>
            </form>
        </div>
    </section>
    <section class="section section--footer">
        <div class="container container--footer">
            <p class="text text--sm">{% trans 'index_NickDisclaimer' %}</p>
        </div>
    </section>
</div>
{% endblock %}