{% extends 'base.html' %}

{% load i18n %}

{% block page_title %}
Chef's Hat Card Game
{% endblock %}

{% block page_css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/startNewGame.css' %}" />

{% endblock %}

{% block body %}
<div id="overlay" class="overlay--game overlay"></div>

<div class="wrapper">
    <section class="section section--header">
        <div class="container container--games">
            <div class="container__title">
                <p class="text text--xl text--title">{% trans 'startNewGame_Rounds' %}: {{ currentGame }}</p>
                {% if trialGame %}
                <span class="text text--md">
                    {% comment %}Translators: You will star now your trial game! It will not count towards the final score. Enjoy it! %} {% endcomment %}
                    {{ playerActiveAction }} {% trans 'startNewGame_startTrialGame' %}
                </span>
                {% endif %}
                {% if currentGame == 0  %}
                <span class="text text--md">
                    {% comment %}Translators: Now you will start the real challenge! Good luck! %} {% endcomment %}
                    {{ playerActiveAction }} {% trans 'startNewGame_startRealGame' %}
                </span>
                {% endif %}
            </div>
        </div>
    </section>

    {% if currentGame > 0 %}
    <section class="section section--content">
        <div class="container container--content">
            <div class="container container--iframe">
                <p lass="text text--md">{% trans 'startNewGame_questionnaire' %}:</p>
                <iframe src="https://forms.office.com/Pages/ResponsePage.aspx?id=XkYvv3Ufb0u-Kb9TJzvB2u5KiGG9gI9Jl0u_PdkIVS5UNjIyVTlJTzdHMFdMUEpXRDZOUUVRREhUWC4u&embed=true" frameborder="0" marginwidth="0" marginheight="0" style="border: none; max-width:100%; max-height:100vh" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>
            </div>
        </div>
    </section>
    {% endif %}

    <section class="section section--game_scores">
        <div class="container container--scores">
            <div class="container score">
                <p class="text text--md">{{ playerNames.0 }}</p>
                <p class="text text--md">{% trans 'startNewGame_Score' %}: {{ humanScore.0 }}</p>
            </div>
            <div class="container score">
                <p class="text text--md">{{ playerNames.1 }}</p>
                <p class="text text--md">{% trans 'startNewGame_Score' %}: {{ humanScore.1 }}</p>
            </div>
            <div class="container score">
                <p class="text text--md">{{ playerNames.2 }}</p>
                <p class="text text--md">{% trans 'startNewGame_Score' %}: {{ humanScore.2 }}</p>
            </div>
            <div class="container score">
                <p class="text text--md">{{ playerNames.3 }}</p>
                <p class="text text--md">{% trans 'startNewGame_Score' %}: {{ humanScore.3 }}</p>
            </div>
        </div>
    </section>

    {% comment %} Modal player {% endcomment %}
    {% comment %} {% if playerHasARole == True and gameOver == False %} {% endcomment %}
    <div id="modalCardExchange" class="modal--card__exchange">
        <div class="modal__header">
            <p class="text text--lg title">{% trans 'startNewGame_Exchange' %}</p>
        </div>
        <div class="modal__body">
            <div class="modal__player--cards">
                {% if error %}
                <p class="text text--sm title error">{% trans 'startNewGame_Invalid' %}</p>
                <p class="text text--sm error">{{ errorMessage }}</p>
                {% endif %}

                {% if dinnerServed %}
                <img class="img img--card" src="../../static/images/actionCards/cardDinner.png">
                {% comment %}Translators: [player] said Dinner Served! There will be no card exchange on this round! %} {% endcomment %}

                <p class="text text--md">{{ playerActiveAction }} {% trans 'startNewGame_dinnerServedMessage' %}</p>
                <form class="form form__cards" action="{% url 'SingleGame:startGame'%}" method="post">
                    {% csrf_token %}
                    <div class="modal__player--cards--form">
                        <input id="playerHasToChoose" name="playerHasToChoose" type="hidden" value="0">
                        <a id="noCardsExchangeBtn" href="#" class="form__button text--md button">{% trans 'rules_Continue' %} </a>
                    </div>
                </form>

                {% else %}



                <form class="form form__cards" action="{% url 'SingleGame:startGame'%}" method="post">
                    {% csrf_token %}
                    {% if foodFight %}
                    <div class="container container__player--cards container--food_fight">
                        <div class="container">
                            <img class="img img--card" src="../../static/images/actionCards/cardFight.png">
                        </div>
                        {% comment %}Translators: [player] said Food Fight! Your role changed: %} {% endcomment %}
                        <div class="container">
                            <p class="text text--md">{{ playerActiveAction }} {% trans 'startNewGame_foodFightdMessage' %} {{ thisPlayerPreviousRole }} -> {{ thisPlayerRole }}!</p>
                        </div>
                    </div>
                    {% endif %}

                    <div class="container">
                        <p class="text text--md"> {% trans 'startNewGame_From' %} {{ receivedFrom }}:</p>
                    </div>
                    <div class="container container__cards container--received_cards">
                        {% for index, card in receivedCard %}
                        <div class="card">
                            <label class="form__label no-opacity">
                                <img class="img img--card" src="../../static/images/{{ card }}">
                            </label>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="container">
                        <p class="text text--md">{{ phraseRole }} {{ receivedFrom }}:</p>
                    </div>
                    <div id="clickableCards" class="container container__cards container--sendable_cards">
                        {% for index, card in player0Cards %}
                        <div class="card">
                            <input class="form__radio" type="checkbox" value="{{ card }}" name="selectedAction" id="cardPlayer{{ index }}" />
                            <label class="form__label" for="cardPlayer{{ index }}">
                                <img class="img img--card" src="../../static/images/{{ card }}" />
                            </label>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="modal__player--cards--form">
                        <input id="playerID" name="playerHasToChoose" type="hidden" value="1">
                        <button id="cardExchangeSubmit" class="button form__button text--md">{% trans 'startNewGame_sendCards' %} </button>
                    </div>
                </form>


                {% endif %}
            </div>
        </div>
        <div class="modal__footer">
            <p class="text text--sm"> {% trans 'startNewGame_pleaseRefer' %} <a href="{% url 'SingleGame:ruleBook' %}" target="_blank">{% trans 'startNewGame_rulebook' %}</a> {% trans 'startNewGame_paraMaisInformacoes' %}</p>
        </div>
    </div>
    {% comment %} {% endif %} {% endcomment %}

    {% comment %} Modal game finished {% endcomment %}
    <section class="section section--form">
        <div class="container container--form">
            {% if gameOver %}
            <form class="form" action="{% url 'SingleGame:gameFinished'%}" method="post">
                {% csrf_token %}
                <button type="submit" class="button form__button text--md">{% trans 'startNewGame_endOfGame' %}</button>
            </form>
            {% else %}
            <form class="form" action="{% url 'SingleGame:startGame'%}" method="post">
                {% csrf_token %}
                <button type="submit" class="button form__button text--md">{% trans 'startNewGame_newGame' %} {{ nextGameGame }}</button>
            </form>

                 {%if nextGameGame == 0%}
                 <form class="form" action="{% url 'SingleGame:skipTutorial'%}" method="post">
                     {% csrf_token %}
                        </br>
                        <button type="submit" class="button form__button text--md">Skip Tutorial</button>
                 </form>
                {%endif%}

            {% endif %}
        </div>
    </section>
</div>
{% endblock %}

{% block shared_data %}
'PLAYER_HAS_ROLE': '{{ playerHasARole }}',
'GAME_OVER': '{{ gameOver }}',
'CURRENT_GAME': '{{ currentGame }}',
{% endblock %}

{% block page_js %}
{% load static %}
<script src="{% static 'js/startNewGame.js' %}"></script>
{% endblock %}